$primary-color: #068550;
$secondary-color: #2C2C2C;
$aquamarine-color: #87F6C8;
$white: #ffffff;
$black: #000000;
$bright-gray: #EDEDED;

$container-width: 18px;
$footer-height: 90px;
$border-radius: 14px;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

html,
body {
    line-height: 1.4 !important;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Open Sans',
        sans-serif;
    color: $secondary-color;
    font-weight: 400;
    min-height: 100%;
    background-color: $secondary-color;
    letter-spacing: -0.3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700 !important;
}

.container,
.container-fluid {
    margin-left: auto;
    margin-right: auto;
}

.container,
.container-fluid,
.row>div {
    padding-left: #{$container-width};
    padding-right: #{$container-width};
}

.row,
.row {
    margin-left: -#{$container-width};
    margin-right: - #{$container-width};
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.app,
#app,
.app-wp {
    height: 100%;
}

.app,
.app-wp {
    display: flex;
    flex-direction: column;
}

.app-wp {
    height: calc(100% - $footer-height);
}

.primary-color {
    color: $primary-color;
}

.aquamarine-color {
    color: $aquamarine-color;
}

.hide {
    display: none !important;
}

.f-11 {
    font-size: 11px;
}

.f-13 {
    font-size: 13px;
}

.f-16 {
    font-size: 16px !important;
}

h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 18px !important;
}

b,
strong {
    font-weight: 700 !important;
}

input,
select,
textarea {
    outline: none;
}

.input-hide {
    position: absolute;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    width: 0.01px;
    height: 0.01px;
}

%pos-middle,
.pos-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}