html,
body {
  line-height: 1.4 !important;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #2C2C2C;
  font-weight: 400;
  min-height: 100%;
  background-color: #068550;
  letter-spacing: -0.3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}

.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.container,
.container-fluid,
.row > div {
  padding-left: 18px;
  padding-right: 18px;
}

.row,
.row {
  margin-left: -18px;
  margin-right: -18px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  padding: 27px 0px 27px 14px;
}

.header .categories {
  overflow: auto;
}

.header .categories a,
.header .categories span {
  margin: 0 9px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.categories {
  white-space: nowrap;
}

.categories li {
  display: inline-block;
  vertical-align: middle;
}

.categories li:not(.categories__plus) a,
.categories li:not(.categories__plus) span {
  font-size: 13px;
  background-color: #ffffff;
  color: #068550;
  font-weight: 600;
  padding: 7px 14px;
}

.categories li.categories__plus a,
.categories li.categories__plus span {
  background-color: #2C2C2C;
  padding: 8px 15px;
}

.categories a,
.categories span {
  border-radius: 14px;
  display: block;
  margin: 0 4.5px;
  text-align: center;
}

.categories a.mx-w-80,
.categories span.mx-w-80 {
  min-width: 80px;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.footer {
  padding: 11px 0px 14px 0px;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__controls a {
  margin: 0 22.5px;
  display: inline-block;
  position: relative;
}

.footer__controls a:after {
  content: "";
  width: 134px;
  height: 5px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 100px;
  display: none;
}

.footer__controls a.active:after {
  display: block;
}

.content {
  background: #2C2C2C;
  -webkit-box-shadow: 0px -4px 17px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -4px 17px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

/*****************************************
  INDEX
 ****************************************/
/*************************
  Blog Post
 ************************/
.i-wrap {
  padding: 35px 0;
}

.blog-post-wrap > div:not(:last-of-type) {
  margin-bottom: 18px;
}

.blog-post {
  border-radius: 20px;
  color: #ffffff;
  position: relative;
  z-index: 0;
  overflow: hidden;
  max-width: 354px;
  width: 100%;
}

.blog-post > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.blog-post .categories span {
  color: #000000 !important;
}

.blog-post__left {
  width: 54%;
  padding: 12px 7px 12px 15px;
}

.blog-post__left__header h2 {
  font-size: 14px;
}

.blog-post__left__header__img img {
  min-width: 40px;
}

.blog-post__left__header__author span {
  font-size: 10px;
  font-weight: 600;
  opacity: 0.7;
}

.blog-post__left .categories {
  opacity: 0.9;
}

.blog-post__left .categories span {
  color: rgba(0, 0, 0, 0.5) !important;
}

.blog-post__left .categories li:first-of-type span {
  margin-left: 0;
}

.blog-post__left .categories li:last-of-type span {
  margin-right: 0;
}

.blog-post__left__meta {
  font-weight: 600;
  font-size: 11px;
  opacity: 0.7;
}

.blog-post__left__stock {
  font-weight: 700;
  font-size: 14px;
  opacity: 0.7;
}

.blog-post__right {
  width: 46%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.blog-post__right > span {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
/*# sourceMappingURL=styles.css.map */